{% macro article(article, label) %}

	<div class="terms">
	
		<h1>{{ article.title }}</h1>
		 
		{% if article.icon is not empty %}
			<img src="{{ article.icon.path }}" class="img-responsive" alt=""/>
		{% endif %}
		<div>
			{{ article.content|markdown }}
		</div>
		
		{% if article.documents is not empty %}
			<div class="document">
				<div> {{label}} </div>
				<div class="container">
					{% import '@site/base/docs.html.twig' as docs_macro %}
					{{ docs_macro.docs(article) }}
				</div>
			</div>
		{% endif %}
		
		<div>			
			{% import '@site/base/gallery.html.twig' as gallery_macro %}			
			{{ gallery_macro.gallery(article) }}
		</div>
	</div>

{% endmacro %}