{% extends 'base/ru/base.html.twig' %} 

{% block title %}
	Русская Православная Школа Сергия Радонежского при Фонде Толстого Нью Йорк.
	{% for article in page.articles.slice(0,page.articlesPerPage) %}
		{{ article.title }}
	{% endfor %} 
{% endblock %}

{% block description %}
	Русская Православная Школа Сергия Радонежского при Фонде Толстого Нью Йорк.
	{% for article in page.articles.slice(0,page.articlesPerPage) %}
		{{ article.description|markdown|striptags }}
	{% endfor %} 
{% endblock %}
 
{% block body %}


<!-- banner -->
{% import 'base/banner.html.twig' as banner_macro %}			
{{ banner_macro.banner(page) }}
<!-- //banner -->



<div class="features">
	<div class="container">
		<h1>{{ page.title }}</h1>
		<p style="text-align:center;">{{ page.subTitle }} </p>
		
{% if page.id == 'home.ru' %}
		<h3>Предстоящие события:</h3>
	      	<div>
	   	  		{% for event in events %}
	   	  			{% import 'base/event.html.twig' as event_macro %}
	   	  			{{ event_macro.event(event, lang) }}
	   	  		{% endfor %}
	   		</div>
{% endif %}		
		
		{% for article in page.articles.slice(0,page.articlesPerPage) %}
			<div class="blog_box1">
				<dl class="item_info_dl">
					<h2>
						<a href="/page/{{ page.id}}/{{ article.id}}">{{ article.title }}</a>
					</h2>
					<dd>
						<address class="item_createdby">
							Публикация: {{ article.author.firstName }} {{ article.author.lastName }}
						</address>
					</dd>
					<dd>
						<time datetime="2015-05-01 19:45" class="item_published">
							Дата: {{ article.created|date('m-d-Y') }} </time>
					</dd>
				</dl>
				{% if article.icon is not empty %}
					{% if article.icon.type.id != 5 %}
						<img src="{{ article.icon.path }}" class="img-responsive" alt=""/>
					{% elseif article.icon.type.id == 5 %}
						<div class="videocontainer">
							<iframe src="{{ article.icon.path }}?autoplay=0&amp;loop=1&amp;controls=1&amp;showinfo=1&amp;start=0&amp;vq=hd1080&amp;enablejsapi=1&amp;api=1&amp;player_id=sw-1&amp;enablejsapi=1&amp;rel=0" allowfullscreen=""></iframe>
						</div>
					{% endif %}
				{% endif %}	
				<p>
					{{ article.description|markdown }}
				</p>
				<a href="/page/{{ page.id}}/{{ article.id}}" class="radial_but">Подробнее</a>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
