{% extends 'base/ru/base.html.twig' %} {% block title %} Школа Святого
Сергия Радонежского {% endblock %} {% block body %}

<!-- banner -->
{% import 'base/banner.html.twig' as banner_macro %} {{
banner_macro.banner(page) }}
<!-- //banner -->

<!-- page content -->
<div class="container">
	<div class="grid_1_right">
		<h2>{{ page.title }}</h2>
		<div class="but_list">
			<div class="bs-example bs-example-tabs" role="tabpanel"
				data-example-id="togglable-tabs">
				<ul id="myTab" class="nav nav-tabs nav-tabs1" role="tablist">
					{% for classForLesson in classes %} 
					{% if loop.first %}
						{% set mode='active' %}
					{% else %}
						{% set mode='passive' %}
					{% endif %}
					<li role="presentation" class="{{ mode }}"><a href="#class{{ classForLesson.classOfStudents.id }}"
						id="class-id-{{ classForLesson.classOfStudents.id }}" role="tab" data-toggle="tab" aria-controls="class{{ classForLesson.classOfStudents.id }}"
						aria-expanded="true">{{ classForLesson.classOfStudents.name }}</a></li>
					{% endfor %}
				</ul>
				<div id="myTabContent" class="tab-content">
					{% for classForLesson in classes %}
					{% if loop.first %}
						{% set mode='active' %}
					{% else %}
						{% set mode='passive' %}
					{% endif %}
					<div role="tabpanel" class="tab-pane fade in {{ mode }}" id="class{{ classForLesson.classOfStudents.id }}"
						aria-labelledby="class-id-{{ classForLesson.classOfStudents.id }}">
				    	{% for lesson in lessons %}
					    	{% if lesson.classOfStudents.id == classForLesson.classOfStudents.id %}
							<div class="events_box">
								<div class="event_left">
									<div class="event_left-item">
										<div class="icon_2">
											<div class="speaker">
												{{ lesson.period.name }}
											</div>
										</div>
										<div class="icon_2">
											<i class="fa fa-clock-o"></i>
											{{ lesson.period.startTime|date("H:i")}} - {{ lesson.period.endTime|date("H:i") }}
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
								<div class="event_right">
									<h3>
										<a href="#">{{ lesson.course.name }}</a>
									</h3>
												<i class="fa fa-user"></i>
												<span class="speaker_item">
													<a href="#">{{ lesson.teacher.firstName }} {{ lesson.teacher.lastName }}</a>
												</span>
								</div>
								<div class="clearfix"></div>
							</div>
							{% endif %}
						{% endfor %}
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- page content -->



{% endblock %}
