{% extends '@site/base/ru/base.html.twig' %} 

{% block title %}
	{% for setting in settings %}
		{% if setting.type.id == 1 %}
			{{ setting.value }}
		{% endif %}
	{% endfor %}
	- Как с нами связаться.
{% endblock %}

{% block description %}
	{% for setting in settings %}
		{% if setting.type.id == 1 %}
			{{ setting.value }}
		{% endif %}
	{% endfor %}
	- Как с нами связаться.
{% endblock %}

{% block body %}
<!-- banner -->
{% import '@site/base/banner.html.twig' as banner_macro %}			
{{ banner_macro.banner(page) }}
<!-- //banner -->
<div class="uk-container uk-container-center">
    <div class="uk-grid" data-uk-grid-match data-uk-grid-margin>
        <div class="tm-main uk-width-medium-3-4 tm-middle">
            <main class="tm-content">
                <section>
                    <div data-uk-slider class="">
                        <div class="uk-slider-container post-gallery">
                            <ul class="uk-slider uk-grid-width-medium-1-1">
                            </ul>
                            <a href="" class="tm-slidenav tm-post-gallery-previous" data-uk-slider-item="previous" draggable="false"><i class="uk-icon-angle-left"></i></a>
                            <a href="" class="tm-slidenav tm-post-gallery-next" data-uk-slider-item="next" draggable="false"><i class="uk-icon-angle-right"></i></a>
                        </div>
                    </div>
                    <div id="primary" class="site-content post-content">
                        <div class="main-heading">
                            <h1 class="tm-page-title">Как к нам проехать</h1>
                        </div>
                        <div>
{% for setting in settings %}
	{% if setting.type.id == 12 %}
		{{ setting.value }}
	{% endif %}
{% endfor %}                        
                        </div>
                        <!-- #content -->
                    </div>
                    <!-- #primary -->
                </section>
            </main>
        </div>
        <aside class="tm-sidebar-b uk-width-medium-1-4 tm-middle">
            <div class="uk-panel widget_text">
                <h3 class="uk-panel-title">
{% for setting in settings %}
	{% if setting.type.id == 3 %}
		{{ setting.value }}
	{% endif %}
{% endfor %}
</h3><i class="uk-icon-home">&nbsp;</i>
{% for setting in settings %}
	{% if setting.type.id == 6 %}
		{{ setting.value }}
	{% endif %}
{% endfor %}
                <br />
                <i class="uk-icon-info-circle">&nbsp;</i>
{% for setting in settings %}
	{% if setting.type.id == 7 %}
		{{ setting.value }}
	{% endif %}
{% endfor %}
                <br />
                <i class="uk-icon-phone-square">&nbsp;</i>
{% for setting in settings %}
	{% if setting.type.id == 5 %}
		{{ setting.value }}
	{% endif %}
{% endfor %}
                <br />
                <i class="uk-icon-envelope">&nbsp;</i><a href="/mail">
{% for setting in settings %}
	{% if setting.type.id == 8 %}
		{{ setting.value }}
	{% endif %}
{% endfor %}
</a>
                <br />
            </div>
            <div class="uk-panel widget_text">
                <h3 class="uk-panel-title">Social icons</h3>
                <ul class="social-icons">
                    <li><a href="
{% for setting in settings %}
	{% if setting.type.id == 9 %}
		{{ setting.value }}
	{% endif %}
{% endfor %}                    
                    " target="_blank"><i class="uk-icon-facebook-f"></i></a>
                    </li>
                </ul>
            </div>
        </aside>
    </div>
</div>

<div class="tm-bottom-e-box tm-light-bg">
    <section class="tm-bottom-e uk-grid tm-none-padding" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin>

        <div class="uk-width-1-1">
            <div class="uk-panel widget_text">
                <div class="map-wrap">
					<iframe class="uk-responsive-width" width="2000" src="{% for setting in settings %}
	{% if setting.type.id == 11 %}
		{{ setting.value }}
	{% endif %}
{% endfor %}" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
            </div>
        </div>
    </section>
</div>

{% endblock %}


