{# app/Resources/views/period.html.twig #}
{% extends 'base-admin.html.twig' %}

{% block pageTitle %}Event{% endblock %}
{% block title %}Event{% endblock %}
{% block script %}
	$(document).ready(function() {
	    $('#results').DataTable({
	    	order: [{0, 'desc'}],
	    	paging: false
	    });
	    $('.delete_row').click(function(){
    		return confirm("Are you sure you want to delete?");
		});
	} );
{% endblock %}

{% block body %}
    <div style="margin-bottom:10px;">
    	<a class="btn btn-default" href="/admin/web/event/create" role="button">New web-site event</a>
	</div>
	<table id="results" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Icon</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
	    {% for event in events %}
	    	<tr>
	        	<td>{{ event.type.enTitle }}</td>
	        	<td>{{ event.eventDate|date('l, M d, Y H:i') }}</td>
	        	<td>{{ event.icon.path|default("Not assigned") }}</td>
	        	<td width="10"><a href='/admin/web/event/edit/{{ event.id }}'>Edit</a></td>
	        	<td class="delete_row" width="10"><a href='/admin/web/event/delete/{{ event.id }}'>Delete</a></td>
	        </tr>
	    {% endfor %}
    	</tbody>        
    </table>
{% endblock %}
