{% extends '@site/base/en/base.html.twig' %}

{% block title %}
	{% for setting in settings %}
		{% if setting.type.id == 1 %}
			{{ setting.value }}
		{% endif %}
	{% endfor %}
	{% for article in page.articles %}
		{{ article.title }}
	{% endfor %} 
{% endblock %}

{% block description %}
	{% for setting in settings %}
		{% if setting.type.id == 1 %}
			{{ setting.value }}
		{% endif %}
	{% endfor %}
	{% for article in page.articles.slice(0,page.articlesPerPage) %}	
		{{ article.description|markdown|striptags }}
	{% endfor %} 
{% endblock %}

{% block body %}


<!-- banner -->
{% import '@site/base/banner.html.twig' as banner_macro %}			
{{ banner_macro.banner(page) }}
<!-- //banner -->

<div class="uk-container uk-container-center">
    <div class="uk-grid" data-uk-grid-match data-uk-grid-margin>
        <div class="tm-main uk-width-medium-4-4 tm-middle">
            <main class="tm-content">
                <section>
                    <div id="primary" class="site-content">
                        <div id="content" role="main">
                            <h2>{{ page.title }}</h2>
                            <ul class="tm-category-posts-list">
		
							{% for article in page.articles.slice(0,page.articlesPerPage) %}
		
                                <li class="tm-post-list-block clearfix" style="padding: 20px;">
									{% if article.icon is not empty %}
										{% set image = article.icon %}
										{%if image.type.id == 1 %}
											<div class="uk-responsive-width">
												<a href=""><img src="{{ article.icon.path | imagine_filter('articles') }}" alt="" /></a>
											</div>
										{% elseif image.type.id == 5 %}
								            <iframe class="uk-responsive-width" src="{{ image.path }}?autoplay=0&amp;loop=1&amp;controls=1&amp;showinfo=1&amp;start=0&amp;vq=hd1080&amp;enablejsapi=1&amp;api=1&amp;player_id=sw-1&amp;enablejsapi=1&amp;api=1" allowfullscreen="" height="1080" width="1920"></iframe>
										{% endif %}
									{% endif %}   

                                    <div class="">
                                        <h3 class="tm-panel-header"><a href="/page/{{ page.id}}/{{ article.id}}">{{ article.title }}</a></h3>
                                        <div class="tm-grey-color">
                                            {{ article.created|date('m-d-Y') }}
                                        </div>
                                        <div class="line"></div>
                                        <div>{{ article.description|markdown }}</div>
                                        <a href="/page/{{ page.id}}/{{ article.id}}" class="read-more">read more</a>
                                    </div>
                                </li>		
							{% endfor %}
						</ul>
					</div>
				</div>
			</section>
		</main>
	</div>	
	</div>
	</div>
	

{% endblock %}
