{% extends '@site/base/en/base.html.twig' %} 

{% block title %}
	{% for setting in settings %}
		{% if setting.type.id == 1 %}
			{{ setting.value }}
		{% endif %}
	{% endfor %}
	{% for article in page.articles %}
		{{ article.title }}
	{% endfor %} 
{% endblock %}

{% block description %}
	{% for setting in settings %}
		{% if setting.type.id == 1 %}
			{{ setting.value }}
		{% endif %}
	{% endfor %}
	{% for article in page.articles.slice(0,page.articlesPerPage) %}	
		{{ article.description|markdown|striptags }}
	{% endfor %} 
{% endblock %}

{% block body %}

{% import '@site/base/banner.html.twig' as banner_macro %}			
{{ banner_macro.banner(page) }}

<!-- page content -->
<div class="uk-container uk-container-center">
	<div class="uk-grid" data-uk-grid-match data-uk-grid-margin>
		<div class="tm-main uk-width-medium-1-1 tm-middle">
			<main class="tm-content">
			<section>

				<div id="primary" class="site-content post-content">
					{% if page.articles|length > 0 %} 
						{% if articleId == 0 %} {%set article = page.articles[articleId] %} 
							{% import '@site/base/article.html.twig' as article_macro %} 
							{{article_macro.article(article, "Download Documents:") }} 
						{% else %}
							{% for article in page.articles %} 
								{% if article.id == articleId %}
									{% import '@site/base/article.html.twig' as article_macro %} 
									{{article_macro.article(article, "Download Documents:") }}
								{% endif %} 
							{% endfor %}
						{% endif %}
					{% endif %}
				</div>
			</section>
			</main>
		</div>
	</div>
</div>
<!-- page content -->

{% endblock %}
