{% macro article(article, label) %}

	<div class="terms">
	
		<h1>{{ article.title }}</h1>
		{% if article.icon is not empty %}
			{% if article.icon.type.id != 5 %}
				<img src="{{ article.icon.path }}" class="img-responsive" alt=""/>
			{% elseif article.icon.type.id == 5 %}
				<div class="videocontainer">
					<iframe src="{{ article.icon.path }}?autoplay=0&amp;loop=1&amp;controls=1&amp;showinfo=1&amp;start=0&amp;vq=hd1080&amp;enablejsapi=1&amp;api=1&amp;player_id=sw-1&amp;enablejsapi=1&amp;rel=0" allowfullscreen=""></iframe>
				</div>
			{% endif %}
		{% endif %}	
		<div>
			{{ article.content|markdown }}
		</div>
		
		{% if article.documents is not empty %}
			<div class="document">
				<div> {{label}} </div>
				<div class="container">
					{% import 'base/docs.html.twig' as docs_macro %}
					{{ docs_macro.docs(article) }}
				</div>
			</div>
		{% endif %}
		
		<div>			
			{% import 'base/gallery.html.twig' as gallery_macro %}			
			{{ gallery_macro.gallery(article) }}
		</div>
	</div>

{% endmacro %}