{# app/Resources/views/forms/period.html.twig #}
{% extends 'admin/view/base-admin.html.twig' %}
{% form_theme form with ['OrnjMarkdownBundle:Form:fields.html.twig', _self] %}
{% block pageTitle %}Article{% endblock %}
{% block title %}Article{% endblock %}

{% block head %}
	<link rel="stylesheet" href="/css/bootstrap-markdown.min.css" type="text/css" media="all" />
	<script type="text/javascript" src="/js/bootbox.js"></script>
	<script type="text/javascript" src="/js/to-markdown.js"></script>
	<script type="text/javascript" src="/js/markdown.js"></script>
	<script type="text/javascript" src="/js/bootstrap-markdown.js"></script>	
{% endblock %}

{% block script %}
	$(document).ready(function() {
	    var table = $('.lists').DataTable({
        	paging: true
    	});
    	
		// Iterate over all checkboxes in the table
		$("[name='form']").on("submit",function(){
			var form = this;      
			table.$('input, checkbox').each(function(i,e) {
				var nHidden = document.createElement( 'input' );
				nHidden.type = 'checkbox';
				nHidden.name = e.name;
				nHidden.value = e.value;
				nHidden.checked = e.checked;
				form.appendChild( nHidden );
			});
		});
    });
{% endblock %}


{%- block choice_widget_expanded -%}
    <hr/>
    <table class="table table-striped table-bordered dt-responsive nowrap lists" cellspacing="0" width="100%" {{ block('widget_container_attributes') }}>
    <thead>
    	<th>Title</th>
    </thead>
    {%- for child in form %}
    	<tr>
	    	<td>
		        {{- form_widget(child) -}}
		        {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
	        </td>
        </tr>
    {% endfor -%}
    </table>
    <hr/>
{%- endblock choice_widget_expanded -%}

{% block body %}
<div style="margin-bottom:10px;">
   	<a class="btn btn-default" href="/admin/web/media/create" role="button">New Media URL</a>
   	<a class="btn btn-default" href="/admin/web/media/upload" role="button">Upload Media</a>
</div>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
{% endblock %}