<!DOCTYPE html>
<html lang="ru">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="
{% for setting in settings %}
	{% if setting.type.id == 4 %}
		{{ setting.value }}
	{% endif %}
{% endfor %}
" />
<meta name="keywords" content="
{% for setting in settings %}
	{% if setting.type.id == 2 %}
		{{ setting.value }}
	{% endif %}
{% endfor %}
" />
<title>
{% for setting in settings %}
	{% if setting.type.id == 1 %}
		{{ setting.value }}
	{% endif %}
{% endfor %} 
</title>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Sans+Narrow" />
<link href="/css/theme.css" rel="stylesheet" type="text/css" />
<link  href="/css/custom.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>

<header>
	 <div class="tm-header-offset">  <!-- Start header offset-->
		<div class="tm-head-a-box tm-small-padding">
			<div class="uk-container uk-container-center"> 						
				<div class="uk-grid">
					<!-- Start adress widget area -->
					<div class="uk-width-small-1-1 uk-width-medium-1-3 uk-width-large-1-3 tm-text-left">
						<div class=" uk-hidden-small tm-p-top-medium widget_text">
<img src="/images/stvirginmary.jpg" style="height:100px"></img>
						</div>
					</div>
					<!-- End adress widget area -->
					<!-- Start top-logo widget area -->
					<div class="uk-width-small-1-1 uk-width-medium-1-3 uk-width-large-1-3 uk-text-center">
					    <br/>
					    <a href="#" class="uk-h3">
{% for setting in settings %}
	{% if setting.type.id == 3 %}
		{{ setting.value }}
	{% endif %}
{% endfor %}</a>
					</div>
					<!-- End top-logo widget area -->
					<!-- Start social-icons & search widget area -->
					<div class="uk-width-small-1-1 uk-width-medium-1-3 uk-width-large-1-3 tm-text-right">
					   <div class=" uk-hidden-small tm-p-top-medium widget_text">
					   	 <img src="/images/stnicolas.jpg" style="height:100px"></img>
					   </div>
					</div>
					<!-- End social-icons widget area -->
				</div>
			</div> 				
		</div>
		<div style="height: 72px;" class="uk-sticky-placeholder">
			<div style="margin: 0px;" class="tm-fixed-menu" data-uk-sticky="">  <!-- Start fixed menu-->
				<div class="tm-nav-a-box">				
					<div class="uk-container uk-container-center">
						<nav class="uk-navbar">
							<!--tm-navbar (hide defolt styles) -->
							<ul class="uk-navbar-nav uk-hidden-small">
								<li>
							 		<a href="/page/home.ru">
							 		<i class="flags russia"></i>
							 		</a>
							 	</li>
							{% import '@site/base/menu.html.twig' as menu_macro %}			
							{{ menu_macro.menu(menus) }}
							</ul>						
							<a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>
						</nav>
					</div>
				</div> 			
			</div>
		</div>  
		<!-- End fixed menu-->
		<div class="breadcrumbs">
			<div class="uk-container uk-container-center breadcrumbs-box"></div>
		</div>
	</div>  <!-- End header offset-->		
</header>

<div class="tm-default-header-offset-bg"></div>  <!-- Start header offset-->

{% block body %}{% endblock %}

<div class="tm-footer-top-box tm-dark-bg">
    <div class="uk-container uk-container-center">
        <!-- start full width -->
        <section class="tm-footer-top uk-grid tm-xlarge-padding" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin>
            <div class="uk-width-1-1 uk-width-large-1-3">
                <div class="uk-panel widget_text" >
                    <h3 class="uk-panel-title">About us</h3>
                    <p>
{% for setting in settings %}
	{% if setting.type.id == 10 %}
		{{ setting.value }}
	{% endif %}
{% endfor %}
                    </p></div>
            </div>
            <div class="uk-width-1-1 uk-width-large-1-3">
                <div class="uk-panel widget_text" >
                    <h3 class="uk-panel-title">Links</h3>
                    <ul class="footer-links">
                        <li>
                            <a href="http://sinod.ruschurchabroad.org/engindex.htm" target="_blank">Synod of Bishops</a>
                        </li>
                        <li>
                            <a href="http://australiaorthodoxroca.org/" target="_blank">Australia & New Zealand Diocese</a>
                        </li>
                        <li>
                            <a href="http://vishegorod.ru/" target="_blank">St. Petersburg Diocese</a>
                        </li>
                        <li>
                            <a href="http://slovestnik.ru/" target="_blank">Diocese of Moldavia</a>
                        </li>
                        <li>
                            <a href="http://www.iglesiarusa.org.ar/" target="_blank">South American Diocese</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="uk-width-1-1 uk-width-large-1-3">
                <div class="uk-panel widget_text" >
                    <h3 class="uk-panel-title">Newsletter</h3>
                    <p>If you would like to receive our newsletter, please provide us your e-mail address:</p>
                    <div class="subscribe">
                        <div role="form" class="wpcf7" id="wpcf7-f405-o1" lang="en-US" dir="ltr">
                            <div class="screen-reader-response"></div>
                            <form action="/#wpcf7-f405-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                <div style="display: none;">
                                    <input type="hidden" name="_wpcf7" value="405" />
                                    <input type="hidden" name="_wpcf7_version" value="4.3" />
                                    <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f405-o1" />
                                    <input type="hidden" name="_wpnonce" value="7eb6dd6d20" />
                                </div>
                                <div class="uk-grid uk-grid-small" >
                                    <div class="uk-grid-width-small-4-6 uk-width-medium-4-6 uk-grid-width-large-4-6">
                                        <span class="wpcf7-form-control-wrap email-639">
                                            <input type="email" name="email-639" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Your email" />
                                        </span>
                                    </div>
                                    <div class="uk-grid-width-small-2-6 uk-width-medium-2-6 uk-grid-width-large-2-6">
                                        <input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit" />
                                    </div>
                                </div>
                                <div class="wpcf7-response-output wpcf7-display-none"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- end full width -->
</div>

<footer class="tm-footer-box tm-none-bg tm-none-padding">

    <div class="uk-container uk-container-center">
        <div class="tm-footer uk-grid">
            <div class="uk-width-1-1 uk-width-large-1-2">
                <div class="uk-panel tm-p-medium  widget_text">
                    <div class="tm-text-left">
                        © 2016,
                        {% for setting in settings %}
                        	{% if setting.type.id == 3 %}
                        		{{ setting.value }}
                        	{% endif %}
                        {% endfor %} 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end full width -->
</footer>

<div id="offcanvas" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">

 	<div style="float:clear;"></div>
        <ul class="uk-nav uk-nav-offcanvas">
        	<li>
       	 		<a href="/page/home.ru">Russian / Русский</a>
        	</li>
        	{% import '@site/base/menu_offcanvas.html.twig' as menu_macro %}			
			{{ menu_macro.menu_offcanvas(menus) }}
        </ul>
    </div>
</div>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/uikit.js"></script>
<script type="text/javascript" src="/js/components/slider.js"></script>
<script type="text/javascript" src="/js/components/slideset.js"></script>
<script type="text/javascript" src="/js/components/slideshow.js"></script>
<script type="text/javascript" src="/js/components/slideshow-fx.js"></script>
<script type="text/javascript" src="/js/components/sticky.js"></script>
<script type="text/javascript" src="/js/components/lightbox.js"></script>
<script type="text/javascript" src="/js/components/accordion.js"></script>
<script type="text/javascript" src="/js/countdown.js"></script>
<script type="text/javascript" src="/js/components/grid.js"></script>
<script type="text/javascript" src="/js/components/sortable.js"></script>
<script type="text/javascript" src="/js/custom.js"></script>

</body>
</html>
