{# app/Resources/mail/newsletter.html.twig #}
<html>
<head>
<title>{{ event.type.enTitle }} / {{ event.type.ruTitle }}</title>
</head>
<body>

    <div>Дамы и господа,</div>
    <div>&nbsp;</div>
    <div>Скоро в нашей школе состоятся следующие события: </div>
	<div>&nbsp;</div>
	<div><b>{{ event.type.ruTitle }}</b></div>
	<div><i>{{ event.eventDate|date('l, M d, Y H:i') }}</i></div>
	<div>{{ event.type.ruDescription|markdown }}</div>
	<p>&nbsp;</p>
	<div>&nbsp;</div>
	<div>Ladies and gentelmen,</div>
	<div>&nbsp;</div>
	<div>Following events will be happening at our school soon:</div>
	<div>&nbsp;</div>
	<div><b>{{ event.type.enTitle }}</b></div>
	<div><i>{{ event.eventDate|date('l, M d, Y H:i') }}</i></div>
	<div>{{ event.type.enDescription|markdown }}</div>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<div>Please visit our learning center website: http://www.stsergiuslc.com</div>
	<div>&nbsp;</div>
	<div>Our learning center page on Facebook: https://www.facebook.com/stsergiuslc </div>		
</body>
</html>