{# app/Resources/views/period.html.twig #}
{% extends 'admin/view/base-admin.html.twig' %}

{% block pageTitle %}Article{% endblock %}
{% block title %}Article{% endblock %}
{% block script %}
	$(document).ready(function() {
	    $('#articles').DataTable({
        fixedColumns: true,
        paging: true,
        "order": [[ 0, "desc" ]]
        
});
	    $('.delete_row').click(function(){
    		return confirm("Are you sure you want to delete?");
		});
	} );
{% endblock %}

{% block body %}
    <div style="margin-bottom:10px;">
    	<a class="btn btn-default" href="/admin/web/article/create" role="button">New web-site article</a>
	</div>
	<table id="articles" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
            
                <th>Title</th>
                <th>Language</th>
                <th>Page</th>
                <th>Created</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
	    {% for article in articles %}
	    	<tr>
	        	<td data-sort="{{article.id}} DESC">{{ article.title }}</td>
	        	<td>{{ article.language.name }}</td>
	        	<td>
	        		{% for page in article.pages %}
	        		{{ page.id | default("Not assigned") }}<br/>
	        		{% endfor %}
	        	</td>
	        	<td>{{ article.created|date("m/d/Y") }}</td>
	        	<td width="10"><a href='/admin/web/article/edit/{{ article.id }}'>Edit</a></td>
	        	<td class="delete_row" width="10"><a href='/admin/web/article/delete/{{ article.id }}'>Delete</a></td>
	        </tr>
	    {% endfor %}
    	</tbody>        
    </table>
{% endblock %}
