{# app/Resources/views/period.html.twig #}
{% extends 'admin/view/base-admin.html.twig' %}

{% block pageTitle %}Audios{% endblock %}
{% block title %}Audios{% endblock %}
{% block script %}
	$(document).ready(function() {
	    $('#results').DataTable({
       		"order": [[ 0, "desc" ]]
	    });
	    $('.delete_row').click(function(){
    		return confirm("Are you sure you want to delete?");
		});
	} );
{% endblock %}

{% block body %}
    <div style="margin-bottom:10px;">
    	<a class="btn btn-default" href="/admin/web/audio/create" role="button">Add an audio on the web</a>
    	<a class="btn btn-default" href="/admin/web/audio/upload" role="button">Upload an audio file</a>
	</div>
	<table id="results" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
            	<th>Id</th>
                <th>Description</th>
                <th>Path</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
	    {% for media in medias %}
	    	<tr>
	    		<td data-sort="{{ media.id }}">{{ media.id }}</td>
	        	<td>{{ media.description }}</td>
	        	<td><a href="{{ media.path }}" target="_blank">{{ media.path }}</a></td>
	        	<td width="10"><a href='/admin/web/audio/edit/{{ media.id }}'>Edit</a></td>
	        	<td class="delete_row" width="10"><a href='/admin/web/audio/delete/{{ media.id }}'>Delete</a></td>
	        </tr>
	    {% endfor %}
    	</tbody>        
    </table>
{% endblock %}
