{# app/Resources/views/period.html.twig #}
{% extends 'admin/view/base-admin.html.twig' %}

{% block pageTitle %}Tag{% endblock %}
{% block title %}Media tags group media files{% endblock %}
{% block script %}
	$(document).ready(function() {
	    $('#results').DataTable({
	    	paging: false
	    });
	    $('.delete_row').click(function(){
    		return confirm("Are you sure you want to delete?");
		});
	} );
{% endblock %}

{% block body %}
    <div style="margin-bottom:10px;">
    	<a class="btn btn-default" href="/admin/web/tag/create" role="button">New tag</a>
	</div>
	<table id="results" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Media</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
	    {% for tag in tags %}
	    	<tr>
	        	<td data-sort="{{tag.id}}">{{ tag.name }}</td>
	        	<td>
	        		{% for media in tag.media %}
	        			{{ media.description | default("No description") }}
	        			<br/>
	        		{% endfor %}
				</td>
	        	<td width="10"><a href='/admin/web/tag/edit/{{ tag.id }}'>Edit</a></td>
	        	<td class="delete_row" width="10"><a href='/admin/web/tag/delete/{{ tag.id }}'>Delete</a></td>
	        </tr>
	    {% endfor %}
    	</tbody>        
    </table>
{% endblock %}
